
.titleSearch{
    font-size: 20px;
    color: white
    
}
.divCont {
    display: flex;
    justify-content: end;
}

.inputClass {
    border: 1px solid rgb(201, 140, 26);
    margin: 5px;
    padding-top: 2px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 2px 2px 10px black;
}
.inputClass:hover {
    background-color: rgb(201, 195, 195);
    color: black
}
.buttonSearch {
    height: 15px;

}